In [57]:
import pandas as pd
import numpy as np

df = pd.read_excel('faltas_treinamento_sujo.xlsx')
print(df)

                Nome Departamento  Turno  Faltas Dia_da_Semana_Ultima_Falta  \
0    Colaborador_001    Operações  Manhã      14                     Quarta
1    Colaborador_002    Operações  Manhã       1                    Segunda
2    Colaborador_003       Vendas  Manhã       3                    segunda
3    Colaborador_004    Marketing  manha       3                    Segunda
4    Colaborador_005           RH  manha       1                     Quarta
..               ...          ...    ...     ...                        ...
219  Colaborador_056    Operações  Tarde       2                    segunda
220  Colaborador_102       Vendas  manha       3                    segunda
221  Colaborador_188       Vendas  Manhã       3                    segunda
222  Colaborador_147    Marketing  Tarde       1                    segunda
223  Colaborador_092       Vendas  Manhã       0                     Quinta

    Data_Ultima_Falta Evadiu
0          18/01/2024    Sim
1          31/02/2024    Não
2          10/03/2024    Não
3          21/01/2024    Não
4          18/02/2024    Não
..                ...    ...
219        05/01/2024    Não
220        15/02/2024    Não
221        04/02/2024    NaN
222        02/02/2024    Não
223        09/01/2024    Não

[224 rows x 7 columns]

Exercício 1 – Higienização Básica

In [ ]:
# a) Verifique valores nulos e tipos incorretos.
print(df.isnull().sum())
coluna_tipos = df.select_dtypes(include=['string', 'object']).columns.tolist()
print(coluna_tipos)

In [ ]:
# b) Corrija a coluna de datas inválidas.
print(df['Data_Ultima_Falta'].isnull().sum())

In [ ]:
# c) Normalize os nomes dos turnos e dias da semana.
df['Dia_da_Semana_Ultima_Falta'] = df['Dia_da_Semana_Ultima_Falta'].str.capitalize()
df['Turno'] = df['Turno'].str.capitalize()

print(df.head(10))

Exercício 2 – Remoção e Substituição

In [43]:
# a) Remova os registros duplicados.
print(df.count())
df = df.drop_duplicates()
print(df.count())

Nome                          224
Departamento                  224
Turno                         224
Faltas                        224
Dia_da_Semana_Ultima_Falta    224
Data_Ultima_Falta             224
Evadiu                        210
dtype: int64
Nome                          219
Departamento                  219
Turno                         219
Faltas                        219
Dia_da_Semana_Ultima_Falta    219
Data_Ultima_Falta             219
Evadiu                        206
dtype: int64

In [44]:
# b) Substitua os valores nulos da coluna Evadiu por “Desconhecido”.
df['Evadiu'] = df['Evadiu'].fillna("Desconhecida", inplace=True)

In [45]:
# c) Substitua os valores nulos da coluna Data_Ultima_Falta pela data mais comum.
df['Data_Ultima_Falta'] = df['Data_Ultima_Falta'].fillna(df['Data_Ultima_Falta'].mode())

Exercício 3 – Correções e Detecção de Outliers

In [47]:
# a) Converta a coluna Faltas para tipo inteiro.
df['Faltas'] = df['Faltas'].astype(int)

In [61]:
# b) Substitua outliers de faltas por np.nan e depois pela mediana.
median = df['Faltas'].median()
std = df['Faltas'].std()
outliers = (df['Faltas'] - median).abs() > std
df[outliers] = np.nan
df['Faltas'].fillna(median, inplace=True)

                Nome Departamento  Turno  Faltas Dia_da_Semana_Ultima_Falta  \
0                NaN          NaN    NaN     2.0                        NaN
1                NaN          NaN    NaN     2.0                        NaN
2                NaN          NaN    NaN     2.0                        NaN
3                NaN          NaN    NaN     2.0                        NaN
4                NaN          NaN    NaN     2.0                        NaN
..               ...          ...    ...     ...                        ...
219  Colaborador_056    Operações  Tarde     2.0                    segunda
220              NaN          NaN    NaN     2.0                        NaN
221              NaN          NaN    NaN     2.0                        NaN
222              NaN          NaN    NaN     2.0                        NaN
223              NaN          NaN    NaN     2.0                        NaN

    Data_Ultima_Falta Evadiu
0                 NaN    NaN
1                 NaN    NaN
2                 NaN    NaN
3                 NaN    NaN
4                 NaN    NaN
..                ...    ...
219        05/01/2024    Não
220               NaN    NaN
221               NaN    NaN
222               NaN    NaN
223               NaN    NaN

[224 rows x 7 columns]

C:\Users\48260449846\AppData\Local\Temp\ipykernel_17928\570301128.py:6: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Faltas'].fillna(median, inplace=True)