In [22]:
import pandas as pd
import numpy as np

df = pd.read_excel('faltas_treinamento_sujo.xlsx')
print(df)

                Nome Departamento  Turno  Faltas Dia_da_Semana_Ultima_Falta  \
0    Colaborador_001    Operações  Manhã      14                     Quarta
1    Colaborador_002    Operações  Manhã       1                    Segunda
2    Colaborador_003       Vendas  Manhã       3                    segunda
3    Colaborador_004    Marketing  manha       3                    Segunda
4    Colaborador_005           RH  manha       1                     Quarta
..               ...          ...    ...     ...                        ...
219  Colaborador_056    Operações  Tarde       2                    segunda
220  Colaborador_102       Vendas  manha       3                    segunda
221  Colaborador_188       Vendas  Manhã       3                    segunda
222  Colaborador_147    Marketing  Tarde       1                    segunda
223  Colaborador_092       Vendas  Manhã       0                     Quinta

    Data_Ultima_Falta Evadiu
0          18/01/2024    Sim
1          31/02/2024    Não
2          10/03/2024    Não
3          21/01/2024    Não
4          18/02/2024    Não
..                ...    ...
219        05/01/2024    Não
220        15/02/2024    Não
221        04/02/2024    NaN
222        02/02/2024    Não
223        09/01/2024    Não

[224 rows x 7 columns]

Exercício 1 – Higienização Básica

In [23]:
# a) Verifique valores nulos e tipos incorretos.
print(df.isnull().sum())
coluna_tipos = df.select_dtypes(include=['string', 'object']).columns.tolist()
print(coluna_tipos)

Nome                           0
Departamento                   0
Turno                          0
Faltas                         0
Dia_da_Semana_Ultima_Falta     0
Data_Ultima_Falta              0
Evadiu                        14
dtype: int64
['Nome', 'Departamento', 'Turno', 'Dia_da_Semana_Ultima_Falta', 'Data_Ultima_Falta', 'Evadiu']

In [24]:
# b) Corrija a coluna de datas inválidas.
df['Data_Ultima_Falta'] = pd.to_datetime(df['Data_Ultima_Falta'], errors='coerce', format='%d/%m/%Y')
print(df)

                Nome Departamento  Turno  Faltas Dia_da_Semana_Ultima_Falta  \
0    Colaborador_001    Operações  Manhã      14                     Quarta
1    Colaborador_002    Operações  Manhã       1                    Segunda
2    Colaborador_003       Vendas  Manhã       3                    segunda
3    Colaborador_004    Marketing  manha       3                    Segunda
4    Colaborador_005           RH  manha       1                     Quarta
..               ...          ...    ...     ...                        ...
219  Colaborador_056    Operações  Tarde       2                    segunda
220  Colaborador_102       Vendas  manha       3                    segunda
221  Colaborador_188       Vendas  Manhã       3                    segunda
222  Colaborador_147    Marketing  Tarde       1                    segunda
223  Colaborador_092       Vendas  Manhã       0                     Quinta

    Data_Ultima_Falta Evadiu
0          2024-01-18    Sim
1                 NaT    Não
2          2024-03-10    Não
3          2024-01-21    Não
4          2024-02-18    Não
..                ...    ...
219        2024-01-05    Não
220        2024-02-15    Não
221        2024-02-04    NaN
222        2024-02-02    Não
223        2024-01-09    Não

[224 rows x 7 columns]

In [25]:
# c) Normalize os nomes dos turnos e dias da semana.
df['Dia_da_Semana_Ultima_Falta'] = df['Dia_da_Semana_Ultima_Falta'].str.strip().str.title()
df['Turno'] = df['Turno'].str.strip().str.title().replace({'Manha': 'Manhã'})
print(df.head(10))

              Nome Departamento  Turno  Faltas Dia_da_Semana_Ultima_Falta  \
0  Colaborador_001    Operações  Manhã      14                     Quarta
1  Colaborador_002    Operações  Manhã       1                    Segunda
2  Colaborador_003       Vendas  Manhã       3                    Segunda
3  Colaborador_004    Marketing  Manhã       3                    Segunda
4  Colaborador_005           RH  Manhã       1                     Quarta
5  Colaborador_006           RH  Manhã       2                    Segunda
6  Colaborador_007    Marketing  Manhã       1                    Segunda
7  Colaborador_008    Operações  Manhã      11                      Terça
8  Colaborador_009   Financeiro  Tarde       2                    Segunda
9  Colaborador_010           TI  Manhã       2                    Segunda

  Data_Ultima_Falta Evadiu
0        2024-01-18    Sim
1               NaT    Não
2        2024-03-10    Não
3        2024-01-21    Não
4        2024-02-18    Não
5        2024-01-16    Não
6        2024-02-16    Não
7        2024-01-11    Sim
8        2024-01-21    Não
9        2024-03-18    Não

Exercício 2 – Remoção e Substituição

In [26]:
# a) Remova os registros duplicados.
print(df.count())
df = df.drop_duplicates()
print(df['Evadiu'])

Nome                          224
Departamento                  224
Turno                         224
Faltas                        224
Dia_da_Semana_Ultima_Falta    224
Data_Ultima_Falta             212
Evadiu                        210
dtype: int64
0      Sim
1      Não
2      Não
3      Não
4      Não
      ...
214    Não
215    Não
216    Não
217    Não
218    Não
Name: Evadiu, Length: 219, dtype: object

In [27]:
# b) Substitua os valores nulos da coluna Evadiu por “Desconhecido”.
df.fillna({"Evadiu":"Desconhecido"}, inplace=True)
print(df)

                Nome Departamento  Turno  Faltas Dia_da_Semana_Ultima_Falta  \
0    Colaborador_001    Operações  Manhã      14                     Quarta
1    Colaborador_002    Operações  Manhã       1                    Segunda
2    Colaborador_003       Vendas  Manhã       3                    Segunda
3    Colaborador_004    Marketing  Manhã       3                    Segunda
4    Colaborador_005           RH  Manhã       1                     Quarta
..               ...          ...    ...     ...                        ...
214  Colaborador_215    Operações  Tarde       3                    Segunda
215  Colaborador_216    Operações  Manhã       1                    Segunda
216  Colaborador_217   Financeiro  Tarde       2                    Segunda
217  Colaborador_218           RH  Tarde       1                      Terça
218  Colaborador_219   Financeiro  Manhã       0                      Sexta

    Data_Ultima_Falta Evadiu
0          2024-01-18    Sim
1                 NaT    Não
2          2024-03-10    Não
3          2024-01-21    Não
4          2024-02-18    Não
..                ...    ...
214        2024-02-09    Não
215        2024-03-28    Não
216        2024-01-24    Não
217        2024-02-07    Não
218        2024-02-18    Não

[219 rows x 7 columns]

In [28]:
# c) Substitua os valores nulos da coluna Data_Ultima_Falta pela data mais comum.
df['Data_Ultima_Falta'] = df['Data_Ultima_Falta'].fillna(df['Data_Ultima_Falta'].mode()[0])
print(df)

                Nome Departamento  Turno  Faltas Dia_da_Semana_Ultima_Falta  \
0    Colaborador_001    Operações  Manhã      14                     Quarta
1    Colaborador_002    Operações  Manhã       1                    Segunda
2    Colaborador_003       Vendas  Manhã       3                    Segunda
3    Colaborador_004    Marketing  Manhã       3                    Segunda
4    Colaborador_005           RH  Manhã       1                     Quarta
..               ...          ...    ...     ...                        ...
214  Colaborador_215    Operações  Tarde       3                    Segunda
215  Colaborador_216    Operações  Manhã       1                    Segunda
216  Colaborador_217   Financeiro  Tarde       2                    Segunda
217  Colaborador_218           RH  Tarde       1                      Terça
218  Colaborador_219   Financeiro  Manhã       0                      Sexta

    Data_Ultima_Falta Evadiu
0          2024-01-18    Sim
1          2024-03-20    Não
2          2024-03-10    Não
3          2024-01-21    Não
4          2024-02-18    Não
..                ...    ...
214        2024-02-09    Não
215        2024-03-28    Não
216        2024-01-24    Não
217        2024-02-07    Não
218        2024-02-18    Não

[219 rows x 7 columns]

Exercício 3 – Correções e Detecção de Outliers

In [29]:
# a) Converta a coluna Faltas para tipo inteiro.
df['Faltas'] = df['Faltas'].astype(int)

In [30]:
# b) Substitua outliers de faltas por np.nan e depois pela mediana.
# c) Crie um flag “Faltas_Suspeitas” para valores > 10.
Q1 = df['Faltas'].quantile(0.25)
Q3 = df['Faltas'].quantile(0.75)
IQR = Q3 - Q1
limite_superior = Q3 + 1.5 * IQR

# Flag de faltas suspeitas (outliers)
df['Faltas_Suspeitas'] = df['Faltas'] > limite_superior

# Substituir outliers por NaN, depois preencher com mediana
mediana = df['Faltas'].median()
df['Faltas'] = df['Faltas'].fillna(mediana)
print(df)

                Nome Departamento  Turno  Faltas Dia_da_Semana_Ultima_Falta  \
0    Colaborador_001    Operações  Manhã      14                     Quarta
1    Colaborador_002    Operações  Manhã       1                    Segunda
2    Colaborador_003       Vendas  Manhã       3                    Segunda
3    Colaborador_004    Marketing  Manhã       3                    Segunda
4    Colaborador_005           RH  Manhã       1                     Quarta
..               ...          ...    ...     ...                        ...
214  Colaborador_215    Operações  Tarde       3                    Segunda
215  Colaborador_216    Operações  Manhã       1                    Segunda
216  Colaborador_217   Financeiro  Tarde       2                    Segunda
217  Colaborador_218           RH  Tarde       1                      Terça
218  Colaborador_219   Financeiro  Manhã       0                      Sexta

    Data_Ultima_Falta Evadiu  Faltas_Suspeitas
0          2024-01-18    Sim              True
1          2024-03-20    Não             False
2          2024-03-10    Não             False
3          2024-01-21    Não             False
4          2024-02-18    Não             False
..                ...    ...               ...
214        2024-02-09    Não             False
215        2024-03-28    Não             False
216        2024-01-24    Não             False
217        2024-02-07    Não             False
218        2024-02-18    Não             False

[219 rows x 8 columns]

In [31]:
df.to_excel('faltas_tratadas.xlsx', index=False)