In [2]:
import pandas as pd

dados = {
    'Nome': ['Aline', 'Beto', 'Carolina', 'Rodrigo'],
    'Idade': [25, 30, 45, 50],
    'Naturalidade': ['SP', 'AM', 'RJ', 'SP']
}

df = pd.DataFrame(dados)
print(df)

       Nome  Idade Naturalidade
0     Aline     25           SP
1      Beto     30           AM
2  Carolina     45           RJ
3   Rodrigo     50           SP

In [3]:
print(df['Nome'])

0       Aline
1        Beto
2    Carolina
3     Rodrigo
Name: Nome, dtype: object

In [4]:
print(df[df['Idade'] > 30])

       Nome  Idade Naturalidade
2  Carolina     45           RJ
3   Rodrigo     50           SP

In [7]:
print(df[df['Nome'] == 'Aline'] )

Empty DataFrame
Columns: [Nome, Idade, Naturalidade]
Index: []

C:\Users\48260449846\AppData\Local\Temp\ipykernel_5004\221181489.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  print(df

In [9]:
print(df.loc[1])

Nome            Beto
Idade             30
Naturalidade      AM
Name: 1, dtype: object

In [11]:
df.head(3)

       Nome  Idade Naturalidade
0     Aline     25           SP
1      Beto     30           AM
2  Carolina     45           RJ