In [53]:
import pandas as pd
df = pd.read_excel('vendas.xlsx')
print(df)

          data         loja         categoria          produto  quantidade  \
0   2024-07-20  Vento Norte  ELETRODOMESTICOS        Aquecedor         5.0
1   2024-05-30  Vento Norte           sazonal     Guarda-chuva         6.0
2   2024-01-25  Vento Norte            roupas            Calça         8.0
3   2024-07-10  Chuva Clara            roupas           Casaco         5.0
4   2024-05-29    Porto Sol          infantil   Blusa Infantil         NaN
..         ...          ...               ...              ...         ...
495 2024-08-23    Porto Sol  eletrodomesticos       Ventilador         4.0
496 2024-12-19  Vento Norte  eletrodomesticos       Ventilador         1.0
497 2024-05-12    Vila Neve          infantil   Blusa Infantil         6.0
498 2024-03-08    Vila Neve  eletrodomesticos  Ar-condicionado         1.0
499 2024-07-25  Vento Norte           sazonal     Guarda-chuva         3.0

     valor_venda
0         405.55
1        2866.20
2        3292.72
3        1294.95
4            NaN
..           ...
495      1545.72
496       230.89
497       441.30
498       293.93
499      1479.81

[500 rows x 6 columns]

In [54]:
# 1.Padronizar a coluna &#39;categoria&#39; para minúsculas.
df['categoria'] = df['categoria'].str.lower()
print(df['categoria'])

0      eletrodomesticos
1               sazonal
2                roupas
3                roupas
4              infantil
             ...
495    eletrodomesticos
496    eletrodomesticos
497            infantil
498    eletrodomesticos
499             sazonal
Name: categoria, Length: 500, dtype: object

In [55]:
# 2.Remover registros onde a quantidade está ausente
df = df.dropna()
print(df)

          data         loja         categoria          produto  quantidade  \
0   2024-07-20  Vento Norte  eletrodomesticos        Aquecedor         5.0
1   2024-05-30  Vento Norte           sazonal     Guarda-chuva         6.0
2   2024-01-25  Vento Norte            roupas            Calça         8.0
3   2024-07-10  Chuva Clara            roupas           Casaco         5.0
5   2024-08-31    Porto Sol           sazonal    Manta térmica         2.0
..         ...          ...               ...              ...         ...
495 2024-08-23    Porto Sol  eletrodomesticos       Ventilador         4.0
496 2024-12-19  Vento Norte  eletrodomesticos       Ventilador         1.0
497 2024-05-12    Vila Neve          infantil   Blusa Infantil         6.0
498 2024-03-08    Vila Neve  eletrodomesticos  Ar-condicionado         1.0
499 2024-07-25  Vento Norte           sazonal     Guarda-chuva         3.0

     valor_venda
0         405.55
1        2866.20
2        3292.72
3        1294.95
5         957.96
..           ...
495      1545.72
496       230.89
497       441.30
498       293.93
499      1479.81

[407 rows x 6 columns]

In [56]:
# 3.Remover espaços extras e padronizar com primeira letra maiúscula (estilo título)
df.columns = df.columns.str.capitalize()
df.columns = df.columns.str.strip()
print(df)

          Data         Loja         Categoria          Produto  Quantidade  \
0   2024-07-20  Vento Norte  eletrodomesticos        Aquecedor         5.0
1   2024-05-30  Vento Norte           sazonal     Guarda-chuva         6.0
2   2024-01-25  Vento Norte            roupas            Calça         8.0
3   2024-07-10  Chuva Clara            roupas           Casaco         5.0
5   2024-08-31    Porto Sol           sazonal    Manta térmica         2.0
..         ...          ...               ...              ...         ...
495 2024-08-23    Porto Sol  eletrodomesticos       Ventilador         4.0
496 2024-12-19  Vento Norte  eletrodomesticos       Ventilador         1.0
497 2024-05-12    Vila Neve          infantil   Blusa Infantil         6.0
498 2024-03-08    Vila Neve  eletrodomesticos  Ar-condicionado         1.0
499 2024-07-25  Vento Norte           sazonal     Guarda-chuva         3.0

     Valor_venda
0         405.55
1        2866.20
2        3292.72
3        1294.95
5         957.96
..           ...
495      1545.72
496       230.89
497       441.30
498       293.93
499      1479.81

[407 rows x 6 columns]

In [57]:
# 4.Garantir que a coluna data seja datetime
df['Data'] = pd.to_datetime(df['Data'])
print(df)

          Data         Loja         Categoria          Produto  Quantidade  \
0   2024-07-20  Vento Norte  eletrodomesticos        Aquecedor         5.0
1   2024-05-30  Vento Norte           sazonal     Guarda-chuva         6.0
2   2024-01-25  Vento Norte            roupas            Calça         8.0
3   2024-07-10  Chuva Clara            roupas           Casaco         5.0
5   2024-08-31    Porto Sol           sazonal    Manta térmica         2.0
..         ...          ...               ...              ...         ...
495 2024-08-23    Porto Sol  eletrodomesticos       Ventilador         4.0
496 2024-12-19  Vento Norte  eletrodomesticos       Ventilador         1.0
497 2024-05-12    Vila Neve          infantil   Blusa Infantil         6.0
498 2024-03-08    Vila Neve  eletrodomesticos  Ar-condicionado         1.0
499 2024-07-25  Vento Norte           sazonal     Guarda-chuva         3.0

     Valor_venda
0         405.55
1        2866.20
2        3292.72
3        1294.95
5         957.96
..           ...
495      1545.72
496       230.89
497       441.30
498       293.93
499      1479.81

[407 rows x 6 columns]

In [58]:
# 5. Calcular valor unitário real das vendas válidas
df.insert(4, 'Valor Unitário', df['Valor_venda'] / df['Quantidade']) 
print(df)

          Data         Loja         Categoria          Produto  \
0   2024-07-20  Vento Norte  eletrodomesticos        Aquecedor
1   2024-05-30  Vento Norte           sazonal     Guarda-chuva
2   2024-01-25  Vento Norte            roupas            Calça
3   2024-07-10  Chuva Clara            roupas           Casaco
5   2024-08-31    Porto Sol           sazonal    Manta térmica
..         ...          ...               ...              ...
495 2024-08-23    Porto Sol  eletrodomesticos       Ventilador
496 2024-12-19  Vento Norte  eletrodomesticos       Ventilador
497 2024-05-12    Vila Neve          infantil   Blusa Infantil
498 2024-03-08    Vila Neve  eletrodomesticos  Ar-condicionado
499 2024-07-25  Vento Norte           sazonal     Guarda-chuva

     Valor Unitário  Quantidade  Valor_venda
0             81.11         5.0       405.55
1            477.70         6.0      2866.20
2            411.59         8.0      3292.72
3            258.99         5.0      1294.95
5            478.98         2.0       957.96
..              ...         ...          ...
495          386.43         4.0      1545.72
496          230.89         1.0       230.89
497           73.55         6.0       441.30
498          293.93         1.0       293.93
499          493.27         3.0      1479.81

[407 rows x 7 columns]

In [59]:
# 6. Calcular valor médio unitário por produto (sem considerar nulos)
df['Valor Unitário'].fillna(df['Valor Unitário'].mean())
print(df)

          Data         Loja         Categoria          Produto  \
0   2024-07-20  Vento Norte  eletrodomesticos        Aquecedor
1   2024-05-30  Vento Norte           sazonal     Guarda-chuva
2   2024-01-25  Vento Norte            roupas            Calça
3   2024-07-10  Chuva Clara            roupas           Casaco
5   2024-08-31    Porto Sol           sazonal    Manta térmica
..         ...          ...               ...              ...
495 2024-08-23    Porto Sol  eletrodomesticos       Ventilador
496 2024-12-19  Vento Norte  eletrodomesticos       Ventilador
497 2024-05-12    Vila Neve          infantil   Blusa Infantil
498 2024-03-08    Vila Neve  eletrodomesticos  Ar-condicionado
499 2024-07-25  Vento Norte           sazonal     Guarda-chuva

     Valor Unitário  Quantidade  Valor_venda
0             81.11         5.0       405.55
1            477.70         6.0      2866.20
2            411.59         8.0      3292.72
3            258.99         5.0      1294.95
5            478.98         2.0       957.96
..              ...         ...          ...
495          386.43         4.0      1545.72
496          230.89         1.0       230.89
497           73.55         6.0       441.30
498          293.93         1.0       293.93
499          493.27         3.0      1479.81

[407 rows x 7 columns]

In [60]:
# 9. Recalcular valor_venda
df['Valor_venda'].fillna(df['Valor Unitário'].mean(), inplace=True)

C:\Users\48260449846\AppData\Local\Temp\ipykernel_19332\3134254751.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Valor_venda'].fillna(df['Valor Unitário'].mean(), inplace=True)

In [61]:
df = df.drop_duplicates()
print(df)

          Data         Loja         Categoria          Produto  \
0   2024-07-20  Vento Norte  eletrodomesticos        Aquecedor
1   2024-05-30  Vento Norte           sazonal     Guarda-chuva
2   2024-01-25  Vento Norte            roupas            Calça
3   2024-07-10  Chuva Clara            roupas           Casaco
5   2024-08-31    Porto Sol           sazonal    Manta térmica
..         ...          ...               ...              ...
495 2024-08-23    Porto Sol  eletrodomesticos       Ventilador
496 2024-12-19  Vento Norte  eletrodomesticos       Ventilador
497 2024-05-12    Vila Neve          infantil   Blusa Infantil
498 2024-03-08    Vila Neve  eletrodomesticos  Ar-condicionado
499 2024-07-25  Vento Norte           sazonal     Guarda-chuva

     Valor Unitário  Quantidade  Valor_venda
0             81.11         5.0       405.55
1            477.70         6.0      2866.20
2            411.59         8.0      3292.72
3            258.99         5.0      1294.95
5            478.98         2.0       957.96
..              ...         ...          ...
495          386.43         4.0      1545.72
496          230.89         1.0       230.89
497           73.55         6.0       441.30
498          293.93         1.0       293.93
499          493.27         3.0      1479.81

[407 rows x 7 columns]

In [62]:
# 10. Salvar o novo DataFrame limpo em um novo arquivo Excel
df.to_excel('vendas_tratadas.xlsx', index=False)